
<div class="main-container d-flex align-items-center justify-content-center flex-column p-4 " style="height: 100vh;background-color: aliceblue;">
  <div class="welcome shadow p-4 mb-5 bg-body rounded"  *ngIf="!this.surveyState.started">
    <div class="img-container">
      <img src="assets/svg/fireworks.svg" width="300px" alt="">
    </div>
    <h1 class="mb-3">¡Me alegra saludarte!</h1>
    <p>
      Mi nombre es Juanito. Hoy tengo cinco situaciones que con tu ayuda resolveré de la mejor manera, ingresando al canal de atención correcto y tipificando como corresponde.
    </p>
    <p>
      Actualmente, tengo vigente mi contrato de soporte con Siesa, por lo que tengo atención de servicios funcionales y técnicos relacionados con los diferentes sistemas contables que manejo en mi compañía.
    </p>
    <div class="row d-flex justify-content-center">
      <button class="btn btn-siesa" (click)="startSurvey()">¡Vamos, ayuda a Juanito!</button>
    </div>
  </div>

  <div class="questions" *ngIf="this.surveyState.started">
    <app-card-question (emitFinish)="finishSurvey($event)" [questions]="this.questions"></app-card-question>
  </div>

  <div class="goodbye shadow p-4 mb-5 bg-body rounded"  *ngIf="this.surveyState.ended">
    <div class="img-container">
      <img src="assets/svg/super-hero.svg" width="300px" alt="">
    </div>
    <h1 class="mb-3">¡Gracias por tu ayuda!</h1>
    <p>
      Ahora todos mis casos están reportados por el canal de atención correcto y conozco claramente la prioridad de los mismos.
    </p>
  </div>


</div>